{% extends 'base.html' %}

    {% block content %}
    <!-- <form action="#" method="post">
        <p>提交：<input type="text" name="username" ></p>
        <p>密码：<input type="password" name="password" ></p>
        <button type="submit">提交</button>
    </form> -->
    <p><h3>请选择您的牌型</h3></p>
    <hr />
    <form action="#" method="post">
            <input type="checkbox" name="card_type" value="门清" checked="checked"> 门清<br>
            <input type="checkbox" name="card_type" value="庄"> 庄<br>
            <input type="checkbox" name="card_type" value="自摸"> 自摸 <br>
            <input type="checkbox" name="card_type" value="没混"> 没混 <br>
            <input type="checkbox" name="card_type" value="楼上"> 楼上 <br>
            <input type="checkbox" name="card_type" value="七对"> 七对<br>
            <input type="checkbox" name="card_type" value="一条龙"> 一条龙 <br>
            <input type="checkbox" name="card_type" value="海底捞"> 海底捞 <br>
            <input type="checkbox" name="card_type" value="杠上开花"> 杠上开花<br>
            <input type="checkbox" name="card_type" value="捉五魁"> 捉五魁<br>
            <input type="checkbox" name="card_type" value="混一色"> 混一色 <br>
            <input type="checkbox" name="card_type" value="豪华七对"> 豪华七对 <br>
            <input type="checkbox" name="card_type" value="豪华七对"> 双豪七 <br>
            <input type="checkbox" name="card_type" value="豪华七对"> 三豪七 <br>
            <input type="checkbox" name="card_type" value="本混龙"> 本混龙<br>
            <input type="checkbox" name="card_type" value="十三幺"> 十三幺<br>
            <input type="checkbox" name="card_type" value="清一色"> 清一色 <br>
            <input type="checkbox" name="card_type" value="风一色"> 风一色 <br>
            <input type="submit" value="提交">
    </form>
    {% endblock %}